#styledimg {background-image: url(/images/IMG_8279.img);
    background-repeat: no-repeat;
    border-radius: 8px;
    border: 4px solid #000;
    width: 300px;
    height: 400px;
    text-align: center;
    cursor: crosshair;
    
    
    }


    body {
        background-color: #f2d00f;
        
        font-family: 'Roboto', sans-serif;
        cursor: crosshair;
        text-align: center;

    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
       
      }

    #my-Name {
        font-family: 'Oxygen', sans-serif;
        
        text-align: center;
        cursor: crosshair;
    }